<!doctype html> <html lang= "en">

<head>
</head> 

<body>

	<h1> HELP WEBPAGE - API NEOCAMPUS EVALUATOR </h1>

	<p> /!\ All methods are using the POST HTTP request  /!\ </p>

	<p> The main url is '/' and needs the following entry : {"luminosity":your_var, "humidity":your_var, "co2":your_var, "temperature":your_var} </p>

	<p> If you want one of the 4 variables you should use one of those url : 
		<ul>
			<li> /luminosity </li>
			<li> /humidity </li> 
			<li> /co2 </li>
			<li> /temperature </li>
		</ul>

		and the following entry according to the url. For example : https://api-neocampus-confort.herokuapp.com/luminosity will need : {"luminosity":your_var}. </p>

	<p> Creators : <b> Team Coupé Décalé ! </b> </p>
	<p> Pierre Bague | Léo Dumon | Bastien Carreres | Johan Lachieze | Arnaud Soler </p>


</body>

</html>